n8n-workflows/whatsapp-agent-v1.json
{
  "name": "WhatsApp Agent v1",
  "nodes": [
    {
      "parameters": {},
      "id": "6f4e4b9d-9b40-4fcb-87a0-8e0ef47056cf",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d24d28d4-4833-4377-a58d-e326b28d0d42",
              "name": "query",
              "value": "={{ $json.query || $json.chatInput || $json.message || $json.text || '' }}",
              "type": "string"
            },
            {
              "id": "32f44f80-967f-41da-a55d-55922a18fe9b",
              "name": "action",
              "value": "={{ $json.action || 'send_whatsapp_message' }}",
              "type": "string"
            },
            {
              "id": "be0e9ebf-0140-473f-a8d4-a769af7125f7",
              "name": "sessionId",
              "value": "={{ $json.sessionId || $json.session_id || '' }}",
              "type": "string"
            },
            {
              "id": "7d1fe75e-ee95-4277-837f-0933c98d3c81",
              "name": "userId",
              "value": "={{ $json.userId || $json.user_id || 'aliyan' }}",
              "type": "string"
            },
            {
              "id": "ea2a6b7a-e6e1-4b1a-828d-77f699df907f",
              "name": "contactName",
              "value": "={{ $json.contactName || $json.contact_name || $json.name || '' }}",
              "type": "string"
            },
            {
              "id": "c1f8fa9d-8d66-44d0-86c4-48160fbb0ae7",
              "name": "to",
              "value": "={{ $json.to || $json.phone || $json.whatsapp || $json.whatsappNumber || $json.whatsapp_number || '' }}",
              "type": "string"
            },
            {
              "id": "553b3c2c-1d17-4212-8449-1acec3b156c1",
              "name": "message",
              "value": "={{ $json.message || $json.text || $json.body || $json.query || $json.chatInput || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6f6e21b-56cf-4ad0-8a3f-2afe878a068a",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        -80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $json.query }}\n\nStructured fields:\n- action: {{ $json.action }}\n- contactName: {{ $json.contactName }}\n- to: {{ $json.to }}\n- message: {{ $json.message }}\n- sessionId: {{ $json.sessionId }}",
        "options": {
          "systemMessage": "=You are WhatsApp Agent v1, a sub-agent inside Aliyan's JARVIS system.\n\nYour job is only WhatsApp messaging.\n\nCapabilities:\n- Send WhatsApp messages directly using the connected WhatsApp tool.\n- Draft/prepare WhatsApp messages when asked.\n- Ask for a WhatsApp number if no recipient number is provided.\n\nRules:\n- Do not ask for approval. This agent is configured for direct-send.\n- If action is send_whatsapp_message and a recipient number plus message are provided, use the connected WhatsApp tool to send the message.\n- If action is draft_whatsapp_message, do not send; return the prepared message.\n- If the WhatsApp tool is not connected in this workflow, say that the WhatsApp tool must be connected before auto-send can work.\n- Keep replies short and practical.\n- Never claim a WhatsApp message was sent unless the WhatsApp tool actually ran successfully.\n\nReturn a concise final response for the Main Brain."
        }
      },
      "id": "7066a12e-9c93-4610-8322-d36af17fef96",
      "name": "WhatsApp Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        -80
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "ffd78bb7-162a-48fd-8fb7-f483c7aa88b9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst reply = String(item.output || item.reply || item.text || 'WhatsApp Agent finished.').trim();\n\nreturn [{\n  json: {\n    success: true,\n    agent: 'whatsapp',\n    action: item.action || 'send_whatsapp_message',\n    status: 'completed',\n    reply,\n    output: reply,\n    raw: item\n  }\n}];\n"
      },
      "id": "38c43c2e-6752-4bd1-8fa2-6a083bc194a8",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "WhatsApp Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "WhatsApp Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5a85d95-3aa1-4952-9e37-46d37315cc21",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "whatsapp-agent-v1",
  "tags": []
}
